.container{width: 800px; height: 1150px; margin: 0 auto; border: 1px solid black;}
header{position: relative; height: 240px; background-image: url('10/bg2.png'); text-align: right;}
header h1{position: absolute; right: 20px; top: 80px; font-size: 2em; color: darkorange;}
header h2{position: absolute; right: 20px; top: 130px; font-size: 1.5em; color: #ffff00; text-shadow: 5px 5px 2px gray;}
.navi{position: relative; background: black; width: 800px; height: 60px; margin-top: -20px;}
.navi ul{list-style-type: none;}
.navi ul li{display: inline-block; width: 22%; margin-top: 19px; text-align: center;}
.navi ul li a{text-decoration: none; color: white; font-weight: bold;}
nav ul li a:hover{color: darkorange;}
article{margin-top: 10px;}
.banner{margin-top: 23px;}
.content{width: 574px; height: 740px; border: 1px solid black; float: left; margin-left: 6px; margin-right: 6px;
        text-align: justify; margin-bottom: 5px;}
.content h2{text-align: center;}
.sidebar{float: left; width: 200px; height: 740px; border: 1px solid black; background: rgba(50, 200, 50, 0.2);}
.sidebar p{margin-bottom: 30px;}
.sidebar img{margin-bottom: 10px; height: 140px; width: 200px;}
footer{clear: both; margin-top: 100px; width: 800px; height: 100px; background-color: rgb(50, 50, 50); color: white;
      text-align: center; font-weight: bold;}
